.primary-color{
    color:tomato;
}
.primary-btn{
    background-color: tomato;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: medium;

}
.nav-bar{
    display: flex;
    justify-content: space-around;
}
.nav-item{
    display: flex;
    align-items: center;
}
.nav-item > li{
    margin-right: 30px;
    list-style: none;
}
.nav-item > li > a{
   text-decoration: none;
}
.banner{
    display: flex;
    justify-content: space-around;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position:top left , bottom right;
}
.banner-img{
    width: 80%;
}
.banner-content{
display: flex;
flex-direction: column;
justify-content: center;
}

